.video-container {
  position: relative;
  width: 100%;
  height: 55vw; /* Full viewport height */
  overflow: hidden; /* Ensures the video doesn't overflow */
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 55vw;
  object-fit: cover; /* Ensures the video covers the entire container */
  transform: translate(-50%, -50%); /* Centers the video */
}


/* Hide any native controls and symbols */
video::-webkit-media-controls,
video::-webkit-media-controls-enclosure,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
  display: none !important;
}

/* Firefox and other browser control hiding */
video::-moz-media-controls {
  display: none !important;
}
